@media(max-width:780px){

    #contenido{
        width: 100%;
        height: 70vh;
        transition: 1.5s ease;
    
    }
    
    
    #borde_derecho{
        width: 100%;
        height: 30vh;
        background-image: linear-gradient(white,transparent),url('../Recursos/Imagenes_feedback/Ciudad.jpg');
         /*width --- height*/
         background-size: cover;
    
        background-repeat: no-repeat;
    
    }
    
    
    form{
        padding-top: 3%;
        width: 50%;
        height: 40vh;
        margin-left: 3%;
    }
    
    
    #exampleFormControlTextarea1{
        max-height: 40vh;
    
    }
    
    .form-control{
        border: 2px solid black;
    }
    

}